<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nodejs Leaflet</title>
  <!-- LEAFLET CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
     integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
  <!-- CUSTOM CSS  -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <%- body %>

  <!-- LEAFTLET JS -->
   <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
           crossorigin=""></script>
  <!-- SOCKET.IO -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- CUSTOM JS -->
  <script src="/js/main.js"></script>
</body>
</html>
